css.txt
.py-4{
  padding-top:3;
  padding-bottom:3;
}
.p-4 {
  padding: $spacer;
}
.ms-2 {
  padding-left: (2.5) !important;
}
.p {
  border-bottom: 3px solid black;
}
.normal {
  border: 1px solid #fdf5e6;
  padding: 5px;
  background: #fdf5e6;
 }
.normal1 {
  border: 1px solid #ededed;
  padding: 5px;
  background: #ededed;
 }

.b{
  background-color:#c1bcb7;
  padding: 50px;
  margin-right:20px;
}

.m-10 {
  margin-left: $spacer;
}
.p-5 {
  padding: $spacer;
}
.mx{
  margin-left: 65px;
  margin-right:65px;
}

.l{
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-size: 75px;
}
.m{
  font-family: 'Outfit', sans-serif;
}
.f{
  font-family: 'Bree Serif', serif;
}
.f1{
  font-family: 'Figtree', sans-serif;
}
.f3{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}