
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
.p {
  border-bottom: 3px solid black;
}
.bg{
  background-color: #a49aff;
}
.bg1{
  background-color: #fffaf7;
}

.bg2{
  background-color: #f4eaf5;
}
.bg3{
  background-color: #FCF5E7;
}
.bgc{
  background-color: #a4a4c0;
}
.p-4 {
  padding: $spacer;
}
.f{
 font-family: 'Mitr', sans-serif;
}
.f1{
  font-family: 'Figtree', sans-serif;
}
.f2{
  font-family: 'Noto Sans Thai Looped', sans-serif;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

.affix + .container-fluid {
    padding-top: 70px;
  }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img {
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
}